/* Purpose - Countains all of the CSS for the two HTML files */

body {
    margin: 0;
    padding: 0;
}

table tr:nth-child(even) {
    background-color: grey;
}

th {
    background-color: #72F2EB;
}

table, th, td {
    font-family: "Oswald", sans-serif;
    border: 2px solid black;
}

main {
    padding: 16px;
    background-color: #00CCBF;
}

h1 {
    width: 100%;
    display: block;
    color: #3F7C85;
    font-family: "Oswald", sans-serif;
}

h2 {
    width: 100%;
    display: block;
    font-family: "Oswald", sans-serif;
}

div {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 16px;
    row-gap: 16px;
}

a {
    color: #747E7E;
    text-decoration: none;
    font-family: "Oswald", sans-serif;
    font-style: bold;

}

a:hover {
    color: #FF5F5D;
    text-shadow:#3F7C85;
}

div {
    font-family: "Oswald", sans-serif;
    font-size: 30px;
    color:#747E7E;
    padding: 16px;
    align-items: center;
}

nav {
    background-color: #72F2EB;
    border-bottom: black;
}

footer {
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 0px;
    padding-right: 0px;
    background-color: #72F2EB;
    font-family: "Oswald", sans-serif;
    font-size: larger;
    text-align: center;
}

img {
    height: 200px;
    border-radius: 30px;
    border: 5px solid #FF5F5D;
}

nav {
    padding: 16px;
    border-bottom: 1px;
    border-bottom-color: black;
}

table {
    font-family: "Oswald", sans-serif;
    border-color: black;
}

td {
    padding-right: 10px;
}

ol {
    font-family: "Oswald", sans-serif;
}
